body, header {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  align-content: center;
}

header {
  border-bottom: solid 1px seashell;
  position: fixed;
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  height: 69px;
}

header img {
  height: 50px;
  margin-left: 10px;
}

nav p {
  display: inline;
}

a {
  text-decoration: underline;
}

/* Classes */
.hero {
  background-image: url("../images/img-mission-background.jpg");
  height: 700px;
}
