body, header {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  align-content: center;
}

header {
  border-bottom: solid 1px seashell;
  position: fixed;
  width: 100%;
  height: 69px;
  z-index: 10;
  align-items: center;
}

header img {
  height: 50px;
  margin-left: 10px;
}

nav {
  text-align: right;
  flex-grow: 1;
}

nav span {
  display: inline-block;
  margin: 20px 15px;
}

a {
  color: seashell;
}

h2, h3, h4 {
  margin: 0;
  padding: 10px;
  font-weight: bold;
}

/* Classes */
.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

.main {
  padding-top: 69px;
  opacity: 0.9;
  width: 1200px;
  margin: auto;
}

.product {
  margin: 0 5px;
}

.product img {
  width: 300px;
  height: 200px;
  margin: 10px;
  display: block;
}

.address {
  opacity: 1;
  background-color: black;
  flex-basis: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  margin: 5px 20px;
}

/* Ids */
#mission {
  background-image: url("../images/img-mission-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  height: 700px;
  padding-top: 70px;
}

#mission .content {
  margin: auto;
  background-color: black;
  width: 100%;
  text-align: center;
}

#store {
  height: 700px;
  width: 1000px;
  margin: auto;
  padding-top: 70px;
  text-align: center;
}

#location {
  background-image: url("../images/img-locations-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 70px;
  text-align: center;
}
